# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
Supporter_BOT/Data_Files/.env

# Local data files that the bot generates
# It's good practice to let the bot create these on a new setup
Data_Files/*.json

# IDE and OS files
.idea/
.vscode/
*.DS_Store